// info
.info-container {
  padding: 20px 0 0 20px;
}
.info-groupe,
.info-groupe--button {
  // border-bottom: 1px solid #ced4da;
  padding: 5px 0;
}
.info-groupe--button {
  display: flex;
  flex-direction: row;
  gap: 20px;

  justify-content: center;

  & button {
    flex-basis: 100px;
  }
  & button:hover {
    opacity: 0.8;
  }
}

.info-row {
  display: flex;
  flex-direction: row;
}
.info-row--title {
  flex-basis: 50px;
}
.info-row--content {
  & input {
    padding-left: 10px;
    width: 120px;
  }
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
.info-row--action {
  color: #3680ff;
}

.message-err {
  color: red;

  padding-top: 20px;
}
