.containers {
}
.container {
  // padding: 15px 0 0 0;
  background-color: #fff;
}
.title {
  color: #0c8599;
  font-size: 22px;
  font-weight: 500;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.setting {
  // padding-bottom: 15px;
}
.header-container {
  /* // background-color: aqua; */
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);

  // position: fixed;
  background-color: #fff;
  // width: 100%;
}
.action-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-right: 20px;

  & input {
    border-radius: 5px;
    border: 1px solid #d5d5d5;
  }
}
.body-container {
  padding: 20px;
}
.icon-container {
  display: flex;
  gap: 20px;
}
.table-container {
  border: 1px solid #333;
  border-collapse: collapse;
}

.table,
.header {
  display: flex;
  flex-direction: row;
  border: 1px solid #333;
  border-collapse: collapse;
}

.header {
  background-color: #0c8599;
  color: #fff;
}

.cell,
.dark {
  flex-basis: 200px;
  border: 1px solid #333;

  border-collapse: collapse;
  text-align: center;

  padding: 5px 0;

  word-wrap: break-word;
}
.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dark {
  background-color: #343a40;
  color: #fff;
  border: 1px solid #fff;
}

.calendar-hover {
  position: relative;

  &:hover::after {
    content: "Google Calendar";
    color: #858585;
    position: absolute;
    width: max-content;
    bottom: -80%;
    left: -150%;
  }
}
.linkmeet {
  position: relative;

  &:hover::after {
    content: "Google Meet";
    color: #858585;
    position: absolute;
    width: max-content;
    bottom: -80%;
    left: -100%;
  }
}
