// info
.info-container {
  padding: 20px 0 0 20px;
}
.info-groupe,
.info-groupe--button {
  border-bottom: 1px solid #ced4da;
  padding: 10px 0;
}
.info-groupe--button {
  display: flex;
  flex-direction: row;
  gap: 20px;

  justify-content: center;

  & button {
    flex-basis: 100px;
  }
  & button:hover {
    opacity: 0.8;
  }
}

.info-row {
  display: flex;
  flex-direction: row;

  gap: 20px;
}
.info-row--title {
  flex-basis: 150px;
  font-weight: 700;
}
.defaultdata {
  flex-basis: 150px;
  max-width: 500px;
  word-wrap: break-word;
}
.info-row--content {
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
.info-row--action {
  color: #3680ff;
}

.message-err {
  color: red;

  padding-top: 20px;
}
